

footer {
	background-color: black;
	width: 100%;
	height: 60px;
	text-align: right;
	position: fixed;
	bottom: 0;
	}

.icon {
	max-height: 30px;
	margin-top: 12px;
	margin-left: 10px;
	color: white;

}

.icon:hover {
	color: red;
	background-color: red;

}

footer >.logo {
	max-height: 30px;
	margin-top: 12px;
	margin-left: 10px;
	margin-right: 25px;
	text-align: right;
}

