body {
	width: 100%;
	height: 100%;
}

.templander {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    max-height: 95%;
    max-width: 90%;
}

html {
	animation: slides 20s infinite;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
}

@keyframes slides {
	0% {
		background-color: white;
	}

	33% {
		background-color: red;
	}

	66% {
		background-color: gray;
	}

	99% {
		background-color: white;
	}
}
