html {
	margin: 0;
	background-color: #282828;
}

body {
	margin: 0;
	background-color: #282828;
	max-width: 1300px;
}

.intro {
	width:800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
	margin-bottom: 120px;
}

.comingsoon {
	width:800px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 220px;
	margin-bottom: 220px;
}


h2 {
	font-family: 'Helvetica';
	font-weight: lighter;
	font-size: 40pt;
	color: white;
	text-align: center;
	margin-bottom: 0;
	text-shadow: -2px 2px #000;
}

p {
	font-size: 14pt;
	text-align: justify;
	color: white;
	font-family: 'Helvetica';
	font-weight: lighter;
	margin-top: 0;
}

.cover {
	width: 300px;
	margin-top: 50px;
	box-shadow: none;
	transition: box-shadow ease .5s;
}

.cover:hover {
	box-shadow: -5px 5px red;
}

.content > h2 {
	font-size: 18pt;
}

.content {
	margin-bottom: 150px;
}

@media screen and (max-width:820px) {
	.intro {
		width: 650px;
	}

	.comingsoon {
		width:650px;
	}

	h2 {
		font-size: 30pt;
	}
}

@media screen and (max-width:675px) {
	.intro {
		width: 500px;
	}

	.comingsoon {
		width: 500px;
	}

	h2 {
		font-size: 25pt;
	}
}

@media screen and (max-width:520px) {
	.intro {
		width: 350px;
	}

	.comingsoon {
		width: 350px;
	}

	h2 {
		font-size: 15pt;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 2600px) {
	body {
		zoom: 240%;
	}
}

@media screen and (max-width: 2000px) {
	body {
		zoom: 200%;
	}
}

@media screen and (max-width: 1700px) {
	body {
		zoom: 180%;
	}
}

@media screen and (max-width: 1500px) {
	body {
		zoom: 150%;
	}
}

@media screen and (max-width: 1300px) {
	body {
		zoom: 100%;
	}
}